<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<a data-ng-click="addArticle()">
		<i class="glyphicon glyphicon-plus"></i> Add
	</a>
	<div data-ng-include="addTemplate"></div>


	<ul class="articles unstyled">
		<li data-ng-repeat="article in articles" data-ng-class="article.title | dasherize">
			<span>{{article.created | date:'medium'}}</span> /
			<span>{{article.user.name}}</span>
			<h2>{{article.title}}</h2>
			<div>{{article.tags}}</div>
			<div>{{article.content}}</div>
			<div data-ng-show="global.user._id == article.user._id">
				<a class="btn edit" data-ng-click="editArticle(article)">
					<i class="glyphicon glyphicon-edit"></i> Edit
				</a>
				<a class="btn delete" data-ng-click="remove(article);">
					<i class="glyphicon glyphicon-trash"></i> Delete
				</a>
				<div data-ng-include="article.editTemplate"></div>
			</div>
		</li>
	</ul>
	<h1 data-ng-hide="!articles || articles.length">No articles yet. <br> Why don't you <a href="/#!/articles/create">Create One</a>?</h1>
</section>
